body {
  background-image:url(../img/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.tittle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle p{
  margin: 0;
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  color: yellow;
}
#principal{
  font-size: 5rem;
}
.sound{
  padding: 0;
  margin: 20px 50px;
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.z, .x, .c, .v ,.b{
  display: flex;
  font-family: "Berkshire Swash", serif;
  font-size: 4rem;
  color: yellow;
  border: solid yellow 2px;
  border-radius: 10px;
}

.z, .c, .b{
  background-image: url(../img/2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.x, .v{
 background-image: url(../img/3.webp);
 background-repeat: no-repeat;
 background-size: cover;
}